body, html{
  margin: 0;
  background-color: orange;
  overflow-y: hidden;
}

div#mydiv{
  visibility: hidden;
  position: absolute;
  font-size: 30px;
  margin-top: 5%;
  margin-left: 90%;
}
#the_canvas{
  display:none;
  position: absolute;
  background-color:darkgray;
  margin-left: 20%;
  margin-top: 5%;
  border: 2px solid rgb(0, 0, 0);
}
.button {
  visibility: hidden;
  position: relative; left: 60px; top: 0px;
  margin-top: 5%;
  background-color: #000000;
  border: none;
  box-shadow: 0 9px#505050;
  padding: 20px;
  text-align:center;
  font-size: 28px;
}

.button:hover {
  background-color: #3F3F3F;
}

.button:active {
  box-shadow: 0 5px #3D3D3D;
  transform: translateY(5px);
}

.red {
  color: #FF0000;
}

.green {
  color: #00FF00;
}

.blue {
  color: #0000FF;
}

.yellow {
  color: #FFFF00;
}

.round {
  border-radius: 50%;
}

.joystickdiv{
  display: none;
  position: absolute;
  left: 500px;
  top: 0px;
  width: 50%;
  height: 100%;
}

p{
  font-size: 30px;
  font-weight: bold;
  margin-left: 5%;
}
form {
  margin-left: 20%;
}

h1{
  margin-left: 20%;
}